body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: unset;
  text-decoration: none;
}

.title {
  margin: auto;
  font-size: 6.5rem;
}
.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  display: block;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background: #1e3c72; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2a5298,
    #1e3c72
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2a5298,
    #1e3c72
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
}

.video-player {
  margin: auto;
  height: 70vh;
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  padding: 1em;
}

.controls {
  display: flex;
  flex-direction: row;
  margin: 1em auto;
  justify-content: center;
}

.controls button {
  margin: 0 4px;
  padding: 0.75rem;
  border-radius: 6px;
  font-size: 1rem;
  border: 0;
  cursor: pointer;
}

footer {
  background: black;
  color: white;
  display: flex;
  width: -webkit-fill-available;
  justify-content: center;
  padding: 1rem;
}
footer svg,
footer img {
  margin: 0 10px;
}
